@media (min-width: 960px) {

  main {
      overflow:hidden;
      height:calc(100% - 140px);
  }

  .content {
      height: 100%;
  }

  nav {
      float:left;
      height:100%;
      width: 250px;
  }

  aside {
      float:right;
      height:100%;
      width: 250px;
  }

  .deck {
      height:50%;
  }

}