@media (min-width: 960px) {

  main{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    height: calc(100% - 140px);
  }

  nav {
    order: 1;
  }

  .content{
    order: 2;
    display: grid;
    grid-template-rows: 50% 50%;
  }

  aside{
    order: 3;
  }

}